<form class="form-horizontal" role="form" novalidate>
    <div class="form-group">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <h5 class="text-center"><span class="label label-default">CQA Number</span></h5>
                <p class="text-center">{{::baseEntity.CQANumber.GeneratedNumber}}</p>
                <h5 class="text-center"><span class="label label-default">PTR Number</span></h5>
                <p class="text-center">{{::baseEntity.CQANumber.GeneratedNumber}}</p>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-4 text-right">
            <label>CQA Response</label>
            <input type="datetime-local" class="form-control" ng-model="baseEntity.ConvertedNotificationDate" />
            <label>First Response</label>
            <input type="datetime-local" class="form-control" ng-model="baseEntity.ConvertedNotificationDate" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <label>Customer</label>
            <ng-selectize the-model="baseEntity.CustomerKey" service="CustomerService" placeholder="Customer" label-field="Value" value-field="id" allow-create="false"></ng-selectize>
        </div>
        <div class="col-sm-5">
            <label>Notification Date</label>
            <input type="datetime-local" class="form-control" ng-model="baseEntity.ConvertedNotificationDate" />
        </div>
        <div class="col-sm-3">
            <label>Reoccurring Issue</label>
            <select class="form-control" ng-model="baseEntity.ReoccurringIssue" ng-options="option.value as option.label for option in [{value: false, label:'No'}, {value: true, label:'Yes'}]"></select>
        </div>
    </div>
    <div class="well well-sm">
        <div class="form-group">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-xs">Search</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>Part Number</label>
                <p class="form-control-static">Part Number</p>
                <!-- <ng-selectize placeholder="Part Number" value-field="id" label-field="Value" options="[{id:1,Value:'Part One'},{id:2,Value:'Part Two'}]" ng-model="baseEntity.cat_PartNumber"></ng-selectize> -->
            </div>
            <div class="col-sm-6">
                <label>Part Description</label>
                <p class="form-control-static">Part Description</p>
                <!-- <input type="text" class="form-control" ng-model="baseEntity.cat_PartNumber.PartDescription"> -->
            </div>
            <div class="col-sm-3">
                <label>Product Line</label>
                <p class="form-control-static">Product Line</p>
                <!-- <ng-selectize placeholder="Product Line" value-field="id" label-field="Value" options="[{id:1,Value:'Product Line One'},{id:2,Value:'Line Two'}]" ng-model="baseEntity.cat_ProductLine"></ng-selectize> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label>Concern Type</label>
            <ng-selectize the-model="baseEntity.ConcernTypeKey" service="catConcernTypeService" placeholder="Concern Type" label-field="Value" value-field="id" allow-create="false"></ng-selectize>
        </div>
        <div class="col-sm-5">
            <label>Concern Description</label>
            <input type="text" class="form-control" ng-model="baseEntity.ConcertDescription">
        </div>
        <div class="col-sm-4 text-right">
            <label>Number of concerned parts</label>
            <input type="text" class="form-control text-right" ng-model="baseEntity.NumberConcernedParts">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label>Result</label>
            <ng-selectize the-model="baseEntity.ResultKey" service="catResultService" placeholder="Result" label-field="Value" value-field="id" allow-create="false"></ng-selectize>
        </div>
        <div class="col-sm-3">
            <label>Status</label>
            <ng-selectize the-model="baseEntity.StatusKey" service="catStatusService" placeholder="Status" label-field="Value" value-field="id" allow-create="false"></ng-selectize>
            <p class="form-control-static">{{::baseEntity.cat_Status}}</p>
        </div>
    </div>
</form>
<cqa-detail parent-entity="baseEntity" parent-type="CQAHeader"></cqa-detail>
<br>
<br>
<br>
<nav class="navbar navbar-default navbar navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <form class="navbar-form navbar-right">
                <button type="submit" class="btn btn-default btn-sm" ng-click="addCQALine()">Add CQA Line</button>
                <button type="submit" class="btn btn-default btn-sm" ng-click="save(baseEntity);">Save</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
