<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in baseList">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <button class="btn btn-default btn-sm" ng-click="openItem(item)">Update</button>
                    <button class="btn btn-default btn-sm" ng-click="removeItem(item)">Delete</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Due Date</label>
                        <p class="form-control-static">{{item.DueDate | date:'mediumDate'}}</p>
                    </div>
                    <div class="col-xs-6">
                        <label>Closed Date</label>
                        <p class="form-control-static">{{item.ClosedDate | date:'mediumDate'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label>Who's Got Next Step</label>
                <p class="form-control-static">{{item.Champion}}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label>Attachments</label>
                <p class="form-control-static">
                    <attachments-box owner-entity="assembly" kind="BOMAttachments" after-upload="saveAfterUpload(oEntity, oDeferred)" read-only="true" when-change="on_attachments_change(oEntity)" after-delete="afterRemoveFile(oEntity)"></attachments-box>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <label>Ongoing Activities</label>
                <p class="form-control-static">{{item.OngoingActivities}}</p>
            </div>
        </div>
    </li>
</ul>
<modal title="CQA Line" modal-id="modal-CQALine" ok-label="Save">
    <cqa-line></cqa-line>
</modal>
