<div class="container" style="max-width: 350px;">
    <br>
    <br>
    <form class="form-login well" role="form">
        <h1 style="text-align:center;">{{appName}}</h1>
        <h2 class="form-login-heading">Login</h2>
        <div class="form-group">
            <label for="txtUserName">User Name</label>
            <input type="text" id="txtUserName" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        </div>
        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
        </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()" style="height: 70px;">
            <span style="display: inline-block;height: 40px;vertical-align: middle;">Login</span><span ng-activity-indicator style="margin-left: 10px;display: inline-block;padding-top: 8px;height:40px;"></span>
        </button>
        <br>
        <br>
        <div data-ng-hide="message == ''" class="alert alert-danger" style="word-break: break-word;">
            {{message}}
        </div>
    </form>
</div>
