<div class="form-group text-left">
    <div class="input-group col-sm-4 col-md-3">
        <input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterGeneral" ng-model-options="{debounce: 200}" ng-change="refresh()">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="filterOptions.filterGeneral = '';refresh();"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
</div>
<div ng-style="{visibility: isLoading ? 'hidden' : 'inherited'}">
    <div class="text-right" style="min-height: 30px;">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="parts"></dir-pagination-controls>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th style="text-align:center;width:120px;"></th>
                    <th style="text-align: left;">Item Number</th>
                    <th style="text-align: left;">Description</th>
                    <th style="text-align: left;">Item Ref</th>
                    <th style="text-align: left;">Item Ref Description</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by item.id" total-items="filterOptions.itemsCount" current-page="filterOptions.page" pagination-id="parts">
                    <td style="text-align:center;">
                        <button class="btn btn-xs btn-default" ng-click="selectItem(item);">Select</button>
                    </td>
                    <td style="text-align:left;">{{item.ItemNumber}}</td>
                    <td style="text-align:left;">{{item.ItemDescription}}</td>
                    <td style="text-align:left;">{{item.ItemReference1}}</td>
                    <td style="text-align:left;">{{item.ITEM_REF1_DESC}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
