<div class="conteiner-fluid">
    <form class="form-horizontal" role="form">        <div class="form-group">
            <div class="col-sm-3 ">
                <label>Folio:</label>
                <p class="form-control-static">000001</p>
            </div>
            <div class="col-sm-3 col-sm-offset-6">
                <label>Date Counted:</label>
                <p class="form-control-static">06/03/87</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>Item:</label>
                <p class="form-control-static">950420</p>
            </div>
            <div class="col-sm-7">
                <label>Item Description:</label>
                <p class="form-control-static">BUNDLED CABLE ASSEMBLY CHH006</p>
            </div>
            <div class="col-sm-2">
                <label>UM:</label>
                <p class="form-control-static">EA</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>STK:</label>
                <p class="form-control-static">FL</p>
            </div>
            <div class="col-sm-3">
                <label>BIN:</label>
                <p class="form-control-static">27-00</p>
            </div>
            <div class="col-sm-3">
                <label>IC:</label>
                <p class="form-control-static">OnHand</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label>Lot:</label>
                <p class="form-control-static">05020116350216</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>Count:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-3">
                <label>Re-Count</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
</div>


    